.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
}

.App-header {
  background-color: #FFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #61dafb;
}

.inset {
  border-style: inset;
  text-align: center;
  align-items: center;
}

div.inset {
  width: 500px;
  margin: auto;
}
